<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hospital.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=MATEBOOK;Initial Catalog=Hospital;Persist Security Info=True;User ID=sa; password=sa"
            providerName="System.Data.SqlClient" />
        <add name="Hospital.Properties.Settings.HospitalConnectionString1"
            connectionString="Data Source=JYNUI\SQLEXPRESS01;Initial Catalog=Hospital;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>